@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Candal&display=swap');

html {
    scroll-behavior: smooth;
}

body{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color: #f0f0f0;
}

html,
body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

.navigation-bar {
  display: flex;
  background-color: #D9D9D9;
  color: #515151;
  padding-left: 30px;
  padding-right: 30px;
  width: 93vw;
  height: 10vh;
  position: fixed;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.name {
font-size: 4vh;
font-family: 'Inknut Antiqua', serif;
font-weight: bold;
margin-right: 10px;
pointer-events: none;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.navbar-nav a {
  font-family: "Candal", sans-serif;
  font-size: 3vh;
  text-decoration: none;
  color: #515151;
  transition: color 0.3s ease;
}

.navbar-nav a:hover {
text-decoration: none;
color: #ac6d6d;
cursor: pointer;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    color: #515151;
    cursor: pointer;
}


@media (max-width: 600px) {

    .navigation-bar {
        width: 85vw;
        height: 8vh;
        padding-left: 20px;
        padding-right: 20px;
    }

    .name {
        font-size: 1.2rem;
    }

    .hamburger {
        display: block;
    }

    .navbar-nav {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        flex-direction: column;
        gap: 20px;
        padding: 25px 0;
        background-color: #D9D9D9;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    }

    .navbar-nav.active {
        display: flex;
    }

    .navbar-nav a {
        font-size: 1.2rem;
    }
}